/* Imported Styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@100&display=swap');

/* Default Styles */
html {
    background-color: #f6d6bd;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

body {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 100vh;
}

h1, h3 {
    color: #0f2a3f;
    font-family: 'Playfair Display', serif;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

p {
    color: #08141e;

}

a {
    color: #4e495f;
    font-weight: bold;
}

a:hover {
    color: #816271;
}

/* Side Styles */
#side {
}

/* Graphic Styles */
#graphic {
}

/* Controls Styles */
#controls {
}

.controls-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    height: 100%;
    margin: 10px;
}

/* Sound Styles */
.sound-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
}

button {
    background-color: #f6d6bd;
    border: none;
    color: #0f2a3f;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Footer Styles */
footer {
    display: block;
    position: fixed;
    text-align: center;
    bottom: 0;
}