/* Imported Styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@100&display=swap');

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Default Styles */
/* TODO: Fix fadeOut animation not working due to 'hidden' property */
.hidden {
    visibility: hidden;

    animation-name: fadeOut;
    animation-duration: 1s;
}

.visible {
    visibility: visible;

    animation-name: fadeIn;
    animation-duration: 1s;
}

html {
    background-color: #F6D6BD;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

body {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 100vh;
}

h1, h3 {
    color: #08141E;
    font-family: 'Playfair Display', serif;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

p {
    color: #0F2A3F;

}

a {
    color: #4E495F;
    font-weight: bold;
}

a:hover {
    color: #816271;
}

input {
    appearance: none;
    background: none;
    cursor: pointer;

    width: 11vw;
    height: 10px;
    background-color: #997577;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: 20px;
    width: 20px;
    background: #F6D6BD;
    border: 3px #997577 solid;
    border-radius: 100%;
}

/* Side Styles */
#side {
}

/* Graphic Styles */
#graphic {
}

/* Controls Styles */
#controls {
}

.controls-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 10px;
}

/* Sound Styles */
.sound-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    color: #997577;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.popup-btn {
    cursor: pointer;
}

.popup-container {
    position: relative;
}

.popup {
    position: absolute;
    padding: 10px 20px;
    top: -100px;
    right: -170px;

    text-align: center;
    width: 250px;
    background-color: #997577;
    border-radius: 15px;

    color: #F6D6BD;
}

.popup a {
    color: #C3A38A;
}

.popup a:hover {
    color: #F6D6BD;
}

/* Footer Styles */
footer {
    display: block;
    position: fixed;
    text-align: center;
    bottom: 0;
}